<!DOCTYPE html>
<html lang="en">

<head>
    <title>Log in</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">
</head>

<body>
    <div class="ctr">
        <div class="textctr mb1 logintext">Welcome to Adaptive Score</div>
        <div class="textctr">
            <a href="/login">
                <button class="login">
                    Log in
                </button>
            </a>
        </div>
    </div>

</body>

</html>
